# PostgreSQL extension build artifacts
src/*.o
src/*.so
src/*.bc
src/.deps/
src/*.log

# Docker build cache / certs
docker/certs/*.key
docker/certs/*.csr
docker/certs/*.crt

# Editor/IDE files
.DS_Store
.idea/
*.swp
*.swo
*~
.vscode/
*.bak

# Misc
*.test
*.out
